@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 166, 173, 186;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  border-color: rgb(var(--foreground-rgb));
}

@layer components {
  .form-input-custom {
    @apply block w-full p-2 font-sans font-semibold text-gray-800 dark:text-base-dark border border-gray-300 dark:border-gray-500 rounded-lg bg-gray-50 dark:bg-gray-700  sm:text-sm focus:ring-blue-500 focus:border-blue-500;
  }

  .form-label-custom {
    @apply block text-sm font-medium text-gray-800 dark:text-base-dark;
  }

  .default-button-bg-border {
    @apply border-gray-300 hover:border-gray-300 bg-gray-50 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 dark:hover:border-gray-600
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .text-base-dark {
    color: #a6adba;
  }

  .border-color-dark {
    border-color: #60666e;
  }

  .bg-dark {
    background-color: #1D232A
  }

  .svg-filter-dark {
    filter: brightness(0) saturate(100%) invert(81%) sepia(5%) saturate(684%) hue-rotate(180deg) brightness(86%) contrast(85%);
  }

  .svg-filter-red {
    filter: brightness(0) saturate(100%) invert(5%) sepia(87%) saturate(7270%) hue-rotate(29deg) brightness(137%) contrast(133%);
  }

  .svg-soft-filter-dark {
    filter: invert(81%) sepia(5%) saturate(684%) hue-rotate(180deg) brightness(86%) contrast(85%);
  }
}
